@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 16px;
}

h1,
h2,
h3,
p,
a,
li {
  color: #404040;
  padding: 0;
  margin: 0;
}
h2 {
  font-weight: 400;
}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .logo {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #404040;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-size: 64px;
  margin-bottom: 2rem;
}

.subheader {
  text-align: center;
  width: 60%;
  font-size: 32px;
}

.cards-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.cards-img {
  width: 50%;
}

.header-img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

footer p,
footer a {
  color: white;
}
